In [6]:
import pandas as pd
from IPython.display import display
import re

In [9]:
ratings_movies=pd.read_csv('data\\ratings_movies.csv')
display(ratings_movies)

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [10]:
def get_year_release(arg):
    candidates = re.findall(r'\(\d{4}\)',arg)
    if len(candidates)>0:
        year = candidates[0].replace('(','')
        year = year.replace(')','')
        return int(year)
    else:
        return None

In [47]:
ratings_movies['year_release']=ratings_movies['title'].apply(get_year_release)
ratings_movies['year_release'].isna().sum()

18

In [70]:
new_df = ratings_movies[ratings_movies['year_release']==2010].groupby('genres')['rating'].mean().nsmallest()
display(new_df)

genres
Action|Sci-Fi               1.000000
Action|Adventure|Horror     1.500000
Action|Drama|Fantasy        1.500000
Crime|Romance               1.500000
Adventure|Comedy|Fantasy    1.833333
Name: rating, dtype: float64

In [72]:
genres_unique =  ratings_movies.groupby('userId')['genres'].nunique().nlargest()
display(genres_unique)

userId
599    524
414    482
448    403
380    399
474    395
Name: genres, dtype: int64

In [106]:
ratings_movies.groupby('userId')['rating'].agg(['count','mean']).sort_values(by ='count').sort_values(by = 'mean', ascending=True)

        count      mean
userId
442        20  1.275000
139       194  2.144330
508        24  2.145833
153       179  2.217877
567       385  2.245455
...       ...       ...
30         34  4.735294
25         26  4.807692
515        26  4.846154
251        23  4.869565
53         20  5.000000

[610 rows x 2 columns]